.main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.section-head {
  background-image: url('../assets/images/bgc-black.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 15px;
}

.section-first {
  flex-grow: 2;
}

.section__wrap {
  padding: 20px;
}

.title__section-first {
  margin-bottom: 40px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.footer {
  background-color: azure;
}

.foter-link {
  display: flex;
  padding: 30px 0;
  width: 100%;
  justify-content: flex-end;
}

.foter-link > li {
  padding-right: 15px;
}
