:root {
  --violet-dark: 25, 24, 43;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: white;
  transition-property: margin, padding;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.txt--black {
  color: black;
}

.title {
  font-size: 42px;
  font-weight: 500;
}
