.main-page {
  height: auto;
  background-color: blueviolet;
  padding: 0 0 150px;
}

.card {
  background-color: rgb(var(--violet-dark));
  max-width: 700px;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 1px 0px 4px rgba(var(--violet-dark), 0.3), 2px 6px 8px rgba(var(--violet-dark), 0.8);
}

.card__wrap {
  padding: 45px 25px;
}

.title__main {
  padding-top: 30px;
  margin-bottom: 100px;
}

.txt__wrap {
  border: 1px solid white;
  padding: 15px;
  margin-bottom: 15px;
}

.txt-inner {
  display: inline-block;
  color: red;
  padding: 10px;
  text-align: center;
  border: 1px solid white;
}

.col {
  padding: 15px 15px;
  width: 33.3%;
  min-width: 200px;
}

.col-item {
  border: 1px solid white;
  padding: 15px;
}

.container-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.section-second {
  position: relative;
  margin-bottom: 30px;
}

.section-content {
  border: 1px solid aqua;
  padding: 10px;
}

.section-content:nth-child(1) {
  background-color: bisque;
}

.section-content-wrap {
  background-image: url('../assets/images/check.png');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 40px;
}

.section-content:nth-child(2) {
  position: relative;
  z-index: 2;
  background-color: #fff;
}

.section-content:nth-child(3) {
  background-color: rgb(136, 231, 164);
}

.section-third {
  margin-bottom: 30px;
}

.list-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 3px solid green;
  padding: 50px 15px;
}

.list-wrap > li {
  border: 1px solid white;
  text-align: center;
  margin: 0 0 50px 0;
}

.list-wrap > li:last-child {
  margin: 0;
}

.list-wrap-second {
  list-style: none;
  border: 1px solid green;
  padding: 50px 15px;
  display: flex;
  flex-wrap: wrap;
  width: 440px;
}
